mat-form-field {
    margin-right: 12px;
  }

  .popupButton{
  background: #ccc;
  border: 2px solid #aaa;
  padding: 8px 25px;
  border-radius: 25px;
  position: relative;
  color: #000;
  margin-right: 8px;
}

// .leftInputField {
//   flaot: left;
//   width: 46%;

// }
// .rightInputField {
//   flaot: left;
//   width: 46%;

// }

